<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"></a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</amusic>
                </li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
        </nav>
    </header>
    <main>
        <h5>directs links</h5>
        <nav>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <a href=""></a>
            </ul>
            <section>
                <!-- caja para los albunes -->
                <article id="album">
                    <h3>album <br>twist my reality</h3>
                    <img src="images/emilia-play-list.png" alt="" width="640">
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <a href="#">Go Top</a>
                </article>
            </section>


            <section>
                <article id="organic">
                    <h3>video <br>organic love</h3>
                    <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    <div>
                        <p>Directed by VINCE MALC & EMILIA COLE</p>
                        <p>Edited and Filmed by NICOLAS TROY</p>
                        <p>Produced by NIKI HEART,</p>
                        <p>Wix Films LTD.</p>
                    </div>
                    <a href="#">Go Top</a>
                </article>
                <article id="street">
                    <h3>video <br>street light</h3>
                    <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    <div>
                        <p>Directed by VINCE MALC & EMILIA COLE</p>
                        <p>Edited and Filmed by NICOLAS TROY</p>
                        <p>Produced by NIKI HEART,</p>
                        <p>Wix Films LTD.</p>
                    </div>
                    <a href="#">Go Top</a>
                </article>
            </section>
        </nav>
    </main>
</body>

</html>